span {
  color: black;
}
.outer {
  width: 100%;
  max-height: 100vh;
  /* background-color: palevioletred; */
  background-color: #ebebeb;
}

.landing-page {
  width: 100%;
  height: 85vh;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  padding: 20px 90px 20px 59px;
  margin-top: 8.6vh;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  align-items: flex-end;
}

.left-landing {
  /* background-color: orange; */
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: clamp(30px, 3vw, 70px);
  justify-content: space-between;
  align-items: flex-end;
}

.title-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 999;
}

.title-text span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(3rem, 10vw, 9.8rem);
  letter-spacing: -0.38rem;
  line-height: 1.08;
}

.title-text .gray {
  color: rgba(0, 0, 0, 0.2);
}

.title-text .black {
  color: rgba(0, 0, 0, 0.9);
}

.hero-img-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: clamp(200px, 25vw, 377px);
  aspect-ratio: 377 / 815;
  transition: all 0.3s ease-in-out;
}

.hero-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.right-landing {
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 278px;
  gap: 14px;
}

.hero-description {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -1.2px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
}

.qr-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 2px;
  border-radius: 20px;
  background-color: #fff;
  padding: 9px 10px;
}

.store-icons-container {
  display: none;
  flex-direction: row;
  justify-content: left;
  width: fit-content;
  /* background-color: tomato; */

  cursor: pointer;
}

.store-icons {
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 9999px;
  padding-left: 15px;
  padding-right: 20px;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  gap: 3px;
}

.store-icons p {
  color: #fff;
  padding-left: 7px;
  font-size: medium;
  line-height: 24.1px;
  letter-spacing: -0.16px;
}

.apple-icon:hover {
  cursor: pointer;
}

.playstore-icon {
  cursor: pointer;
}

.divider {
  width: 1px;
  height: 12px;
  background-color: #555;
  margin: 0 10px;
  opacity: 0.7;
}

/* Media queries */

@media screen and (max-width: 1440px) {
  .landing-page {
    padding-left: 47px;
    padding-right: 84px;
  }

  .title-text span {
    font-size: 5.37rem;
    line-height: 105px;
    letter-spacing: -3.75px;
  }

  .hero-img-container {
    width: 360px;
  }
}

@media screen and (max-width: 1280px) {
  .landing-page {
    padding-left: 59px;
    padding-right: 59px;
  }

  .left-landing {
    gap: 20px;
  }

  .title-text span {
    font-size: clamp(2rem, 6vw + 1rem, 5.375rem);
    line-height: 93px;
    letter-spacing: -3.35px;
  }

  .hero-img-container {
    transition: all 0.3s ease-in-out;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 1000px) {
  .landing-page {
    margin-top: 80px;
    padding-left: 40px;
    padding-right: 80px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .left-landing {
    align-items: flex-start;
    gap: 40px;
  }

  .qr-container {
    display: none;
  }

  .title-text {
    width: 290px;
    justify-content: flex-start;
    height: fit-content;
  }

  .title-text span {
    font-size: clamp(40px, 11.83px + 7.51vw, 120px);
    line-height: 1.1;
    letter-spacing: -0.03em;
  }

  .hero-img-container {
    margin-top: 125px;
    position: sticky;
    right: 20px;
  }

  .store-icons-container {
    display: flex;
  }

  .hero-description {
    font-size: 15px;
    text-align: left;
    line-height: 18.7px;
    letter-spacing: -0.75px;
    padding-left: 0px;
  }

  .right-landing {
    position: absolute;
    gap: 14px;
    bottom: 20px;
    left: 26px;
  }
}

@media screen and (max-width: 699px) {
  .landing-page {
    padding-right: 18px;
  }
}

@media screen and (max-width: 599px) {
  .hero-img-container {
    width: 280px;
    height: 520px;
    margin-top: 130px;
  }

  .hero-img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .landing-page {
    gap: 0px;
    padding-top: 60px;
    padding-left: 26px;
    padding-right: 0px;
  }

  .left-landing {
    gap: 5px;
  }

  .title-text {
    width: 200px;
  }

  .title-text span {
    font-size: 56px;
    line-height: 61px;
    letter-spacing: -2.2px;
  }

  .hero-img-container {
    width: 204px;
    height: 440px;
    right: 0px;
  }

  .hero-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1600px) and (max-height: 800px) {
  .landing-page {
    padding-top: 10px;
    padding-left: 59px;
    padding-right: 80px;
  }

  .hero-img-container {
    margin-top: 0px;
    width: 260px;
    right: 5px;
  }

  .right-landing {
    bottom: 20px;
  }
}

@media screen and (max-width: 1000px) and (max-height: 800px) {
  .landing-page {
    padding-left: 59px;
    padding-right: 59px;
  }

  .hero-img-container {
    margin-top: 50px;
    width: 240px;
    right: 60px;
  }
}

@media screen and (max-width: 599px) and (max-height: 800px) {
  .landing-page {
    padding-right: 4%;
    padding-left: 4%;
  }

  .hero-img-container {
    margin-top: 0px;
    width: 240px;
    right: 4%;
  }
}

@media screen and (max-width: 599px) and (max-height: 800px) {
  .hero-img-container {
    margin-top: 100px;
    width: 200px;
    height: 500px;
    right: 5px;
  }
}
