span {
  background-color: transparent;
}
button {
  background-color: transparent;
}
.landing {
  width: 100%;
  height: 100vh;
  /* background-color: palegreen; */

  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
}
/* landing header */
.landing-header {
  width: 100%;
  /* height: 100px; */
  /* background-color: lightyellow; */

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
}
.landing-logo {
  width: 35px;
  height: 35px;
  /* background-color: brown; */

  cursor: pointer;
}
.headers-links-container {
  display: flex;
  flex-direction: row;
}
.headers-links {
  /* background-color: rebeccapurple; */

  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 10px 16px;

  cursor: pointer;

  color: #828282;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease, opacity 0.3s ease;
}
.headers-links::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #828282;
  transition: width 0.3s ease;
  opacity: 0.6;
}

.headers-links:hover {
  color: #555;
  opacity: 0.9;
}

.headers-links:hover::after {
  width: calc(100% - 32px);
}
.hamberger-container {
  display: none;

  border: 0px;
}
.hamberger {
  width: 24px;
  height: 24px;
  background-color: transparent;

  cursor: pointer;

  transition: transform 0.3s ease, opacity 0.3s ease;
}
.hamberger:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
/* landing page */
.landing-page {
  /* width: 100%;
  height: 100%; */
  /* background-color: blueviolet; */
}
@media screen and (max-width: 800px) {
  .headers-links-container {
    display: none;
  }
  .hamberger-container {
    display: flex;
  }
  .landing-header {
    padding-left: 30px;
    padding-right: 30px;

    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* landing page */
.landing-page {
  /* width: 100%;
  height: 100%; */
  /* background-color: blueviolet; */

  flex: 1;

  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding-bottom: 34px;
}
.landing-page-title-image {
  display: flex;
  flex-direction: row;

  align-items: end;

  /* background-color: darkgoldenrod; */

  gap: 36px;
}
.landing-page-title {
  display: flex;
  flex-direction: column;

  justify-content: end;

  font-weight: 600;
  font-size: 155px;
  line-height: 168px;
  letter-spacing: -6px;

  /* background-color: aquamarine; */

  width: 579px;

  color: #00000024;
}
.landing-page-title-black {
  color: black;
}
.landing-page-image img {
  width: 100%;
  height: 76vh;
  object-fit: cover;
}

.landing-page-tagLine-qr {
  display: flex;
  flex-direction: column;

  justify-content: end;
  /* background-color: palevioletred; */

  gap: 22px;
}
.landing-page-tagLine {
  display: flex;
  flex-direction: column;

  /* background-color: yellow; */
  justify-content: center;
  align-items: start;
}
.tag-text {
  width: fit-content;
  display: flex;
  flex-direction: column;

  /* background-color: yellow; */
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1.21px;
}
.landing-page-tagLine-qr-container {
  display: flex;
  flex-direction: row;

  padding: 9px 10px;
  background-color: white;

  border-radius: 10px;
}
.landing-page-tagLine-qr-image1 {
  width: 128px;
  height: 128px;
  background-color: red;
}
.landing-page-tagLine-qr-image2 {
  width: 128px;
  height: 128px;
  background-color: blue;
}
/* dowload */
.landing-page-dowload {
  background-color: black;
  padding: 10px 12px;
  padding-right: 24px;
  border-radius: 100px;

  display: flex;
  flex-direction: row;

  gap: 15px;
  cursor: pointer;
  color: white;
}
.landing-page-icon-line {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 10px;
  background-color: black;
}
.landing-page-icon {
  width: 12px;
  height: 14px;
  background-color: black;
}
.landing-page-line {
  width: 1px;
  height: 7px;
  background-color: #828282;
}

.left-tag {
  display: none;
}
@media screen and (max-width: 1440px) {
  .landing-page-title {
    font-size: 96.88px;
    line-height: 105.1px;
    letter-spacing: -3.75px;

    width: 354px;
  }

  .landing-page-image img {
    height: 72vh;
  }
  .landing-page {
    padding-left: 56px;
    padding-right: 56px;

    padding-bottom: 55px;
  }
}
@media screen and (max-width: 1220px) {
  .landing-page-title {
    font-size: 86.34px;
    line-height: 93.7px;
    letter-spacing: -3.35px;

    width: 303px;
  }
  .landing-page {
    padding-left: 4.61%;
    padding-right: 4.61%;

    padding-bottom: 65px;
  }
}
@media screen and (max-width: 1000px) {
  .landing-page {
    padding-left: 2.61%;
    padding-right: 2.61%;

    gap: 10px;
  }
  .landing-page-title {
    width: fit-content;
    max-width: 290px;

    font-size: 82.77px;
    line-height: 89.8px;
    letter-spacing: -3.21px;
  }
  .landing-page-title-image {
    gap: 10px;
  }
}
@media screen and (max-width: 880px) {
  .landing-page {
    padding-left: 1.61%;
    padding-right: 1.61%;

    gap: 5px;
  }
  .landing-page-title-image {
    gap: 5px;
  }
}
@media screen and (max-width: 850px) {
  .left-tag {
    display: flex;
  }

  .landing-page-tagLine-qr {
    display: none;
  }
  .landing-page-title-image {
    width: 100%;

    justify-content: space-between;
  }
  .landing-page {
    padding-left: 36px;
    padding-right: 36px;
  }
  .landing-page-title-tagLine {
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;

    background-color: transparent;
  }
  .tag-text {
    font-size: 15px;
    line-height: 18.7px;
    letter-spacing: -0.75px;
  }
  .landing-page-tagLine {
    align-items: start;

    gap: 14px;
  }

  .landing-page-title {
    width: 290px;
  }
}
@media screen and (max-width: 630px) {
  .landing-page {
    padding-right: 1%;
  }
}
@media screen and (max-width: 600px) {
  .landing-page-image img {
    object-position: left; /* <-- FIX */
  }
  .landing-page {
    padding-right: 0px;
  }
}
@media screen and (max-width: 375px) {
  .landing-page {
    padding-left: 26px;
  }
  .landing-page-title {
    width: 257px;
    font-size: 73.33px;
    line-height: 79.5px;
    letter-spacing: -2.84px;
  }
  .landing-page-image {
    display: none;
  }
}
