span {
  background-color: transparent;
}

.landing {
  width: 100%;
  height: 100vh;
  background-color: palegreen;

  display: flex;
  flex-direction: column;

  /* justify-content: space-between; */
}
/* landing header */
.landing-header {
  width: 100%;
  /* height: 100px; */
  background-color: lightyellow;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
}
.landing-logo {
  width: 35px;
  height: 35px;
  background-color: brown;
}
.headers-links-container {
  display: flex;
  flex-direction: row;
}
.headers-links {
  background-color: rebeccapurple;

  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 10px 16px;
}
/* landing page */
.landing-page {
  /* width: 100%;
  height: 100%; */
  background-color: blueviolet;

  flex: 1;

  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding-bottom: 34px;
}
.landing-page-title-image {
  display: flex;
  flex-direction: row;

  align-items: end;

  background-color: darkgoldenrod;

  gap: 36px;
}
.landing-page-title {
  display: flex;
  flex-direction: column;

  justify-content: end;

  font-weight: 600;
  font-size: 155px;
  line-height: 168px;
  letter-spacing: -6px;

  background-color: aquamarine;

  width: 579px;
}
.landing-page-image img {
  width: 100%;
  height: 76vh;
  object-fit: cover;
}

.landing-page-tagLine-qr {
  display: flex;
  flex-direction: column;

  justify-content: end;
  background-color: palevioletred;
}
.landing-page-tagLine {
  display: flex;
  flex-direction: column;

  background-color: yellow;
  justify-content: center;
  align-items: center;
}
.tag-text {
  width: fit-content;
  display: flex;
  flex-direction: column;

  background-color: yellow;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1.21px;
}
.landing-page-tagLine-qr-container {
  display: flex;
  flex-direction: row;

  padding: 9px 10px;
  background-color: green;

  border-radius: 10px;
}
.landing-page-tagLine-qr-image1 {
  width: 128px;
  height: 128px;
  background-color: red;
}
.landing-page-tagLine-qr-image2 {
  width: 128px;
  height: 128px;
  background-color: blue;
}
@media screen and (max-width: 1440px) {
  .landing-page-title {
    font-size: 96.88px;
    line-height: 105.1px;
    letter-spacing: -3.75px;

    width: 354px;
  }

  .landing-page-image img {
    height: 72vh;
  }
  .landing-page {
    padding-left: 56px;
    padding-right: 56px;

    padding-bottom: 55px;
  }
}
@media screen and (max-width: 1220px) {
  .landing-page-title {
    font-size: 86.34px;
    line-height: 93.7px;
    letter-spacing: -3.35px;

    width: 303px;
  }
  .landing-page {
    padding-left: 4.61%;
    padding-right: 4.61%;

    padding-bottom: 65px;
  }
}
@media screen and (max-width: 1000px) {
  .landing-page {
    padding-left: 2.61%;
    padding-right: 2.61%;

    gap: 10px;
  }
  .landing-page-title {
    width: fit-content;
    max-width: 290px;

    font-size: 82.77px;
    line-height: 89.8px;
    letter-spacing: -3.21px;
  }
  .landing-page-title-image {
    gap: 10px;
  }
}
@media screen and (max-width: 880px) {
  .landing-page {
    padding-left: 1.61%;
    padding-right: 1.61%;

    gap: 5px;
  }
  .landing-page-title-image {
    gap: 5px;
  }
}
@media screen and (max-width: 850px) {
}
