* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  background-color: #ebebeb;

  font-family: "Inter", sans-serif;
}

body.landing-page-active {
  overflow-y: hidden;
}

.app {
  overflow-x: hidden;
  height: 100vh;
}