html {
  scroll-behavior: smooth;
}
.terms-privacy-content-title-text-box {
  scroll-margin-top: 170px; /* Adjust based on your fixed header height */
}
/* ===== HEADER ===== */

.term-privacy-header {
  width: 100%;
  background-color: #ebebeb;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 4.72%;
  z-index: 9;
}

.term-privacy-header-image-container {
  cursor: pointer;
}

.term-privacy-header-button-container {
  display: flex;
  align-items: center;
}

.term-privacy-header-button {
  padding: 10px 16px;
  color: #828282;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.term-privacy-header-button::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: 6px;
  width: 0;
  height: 2px;
  background-color: #828282;
  transition: width 0.3s ease;
  opacity: 0.6;
}

.term-privacy-header-button:hover {
  color: #555;
  opacity: 0.9;
}

.term-privacy-header-button:hover::after {
  width: calc(100% - 32px);
}

/* Hamburger */
.term-privacy-header-hamberburger-container {
  border: none;
  background-color: #ebebeb;
  padding: 5px;
  border-radius: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.term-privacy-header-hamberburger-container:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

/* ===== PAGE LAYOUT ===== */
.termsPage,
.privacyPage {
  width: 100%;
  min-height: 100vh;
  background-color: #ebebeb;
  color: black;
  padding: 192px 4.72% 0;
  font-family: "Inter", sans-serif;
}

/* ===== TITLE SECTION ===== */
.terms-privacy-title-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 62px;
  color: black;
  padding-bottom: 44px;

  /* background-color: red; */

  height: 150px;
}

.terms-privacy-title-box {
  /* width: fit-content; */
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* background-color: blue; */
  /*  */
  position: fixed;

  top: 155px;
}

.terms-privacy-title {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -2%;
  line-height: 56px;
  color: black;
}

.terms-privacy-time-container {
  display: flex;
  flex-direction: column;
}

.terms-privacy-last-update,
.terms-privacy-time {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1%;
  font-weight: 500;
}

.terms-privacy-time {
  color: #828282;
}

/* ===== INDEX & CONTENT SECTION ===== */
.terms-privacy-index-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  gap: 44px;
  /* gap: 10.29%; */
  gap: 106px;
}

.terms-privacy-index-container {
  max-width: 420px;
  width: 100%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* background-color: teal; */
}
.terms-privacy-index-box {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*  */
  position: fixed;
  /*  */
  top: 330px;
}
.terms-privacy-index {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #828282;
  background-color: #ebebeb;
  cursor: pointer;
  border: none;
}

.terms-privacy-index:hover {
  color: black;
}

.terms-privacy-index-number,
.terms-privacy-index-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

/* ===== CONTENT ===== */
.terms-privacy-content-container {
  max-width: 890px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-width: 1301px;
}

.terms-privacy-content-intro2 {
  font-size: 16px;
  max-width: 826px;
  display: flex;
  display: flex;
  padding-bottom: 44px;
  max-width: 1119px;
}

.terms-privacy-content-intro2 {
  display: none;
}

.terms-privacy-content-title-text-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  gap: 44px;
}

.terms-privacy-content-title-text-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.terms-privacy-content-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.terms-privacy-content-text {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.terms-privacy-gap-10px {
  gap: 10px;
}

.terms-privacy-highlight {
  font-weight: 600;
  color: black;
}

.terms-privacy-custom-list {
  list-style-type: disc;
  padding-left: 1.25rem;
}

.terms-privacy-text-decoration {
  text-decoration: underline;
  cursor: pointer;
}

/* ===== LINE ===== */
.terms-privacy-line-conatiner {
  width: 100%;
  height: 64px;
  margin-top: 143px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms-privacy-line {
  width: 100%;
  border: 1px dashed #d8d8d8;
}

/* ===== FOOTER ===== */
.terms-privacy-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 42px;

  padding-top: 0px;
}

.terms-privacy-numora-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.terms-privacy-footer-button-container {
  display: flex;
  align-items: center;
}

.terms-privacy-footer-button-text {
  padding: 10px 12px;
  color: #828282;
  cursor: pointer;
  font-weight: 500;
  border: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.terms-privacy-footer-button-text:hover {
  text-decoration: underline;
}

/* ===== UTILITIES ===== */
.terms-privacy-black {
  color: #171717 !important;
}

.terms-privacy-trademark-logo {
  text-decoration: none !important;
}

.terms-privacy-display-none {
  display: flex !important;
}
/* ===== RESPONSIVE ===== */
@media screen and (max-width: 1200px) {
  .termsPage,
  .privacyPage {
    padding: 192px 1.72% 0;
  }
  .terms-privacy-index-content-container {
    gap: 25px;
  }
  .term-privacy-header {
    padding-left: 1.72%;
    padding-right: 1.72%;
  }
}

@media screen and (max-width: 1000px) {
  .privacyPage {
    padding: 192px 4.72% 0;
  }
  .terms-privacy-index-content-container {
    flex-direction: column;
  }
  .terms-privacy-index-content-container {
    gap: 44px;
  }
  .terms-privacy-content-intro {
    display: none;
  }
  .terms-privacy-content-intro2 {
    display: flex;
  }
  .terms-privacy-title-box {
    position: static;
    height: fit-content;
  }
  .terms-privacy-index-box {
    position: static;
  }
  .terms-privacy-title-container {
    padding-bottom: 200px;
  }
  .terms-privacy-footer {
    padding-top: 25px;
  }
  .term-privacy-header {
    padding: 45px 4.72%;
  }
}

@media screen and (max-width: 800px) {
  .term-privacy-header-hamberburger-container {
    display: flex;
  }

  .term-privacy-header-button-container {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .term-privacy-header-hamberburger-container {
    display: flex;
  }

  .term-privacy-header-button-container {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .terms-privacy-footer {
    flex-direction: column;
    gap: 30px;
  }

  .terms-privacy-footer-button-container {
    flex-direction: column;
    gap: 25px;
  }

  .termsPage,
  .privacyPage {
    padding-top: 125px;
  }
}

@media screen and (max-width: 414px) {
  .terms-privacy-title {
    font-size: 42px;
  }

  .terms-privacy-last-update,
  .terms-privacy-time,
  .terms-privacy-content-intro2,
  .terms-privacy-content-text,
  .terms-privacy-highlight {
    font-size: 14px;
  }

  .terms-privacy-content-title {
    font-size: 22px;
  }
}

/* auto scrolling */
@media screen and (max-width: 1024px) {
  .term-privacy-header {
    /* padding: 45px 4.72%; */

    padding-top: 45px;
    padding-bottom: 45px;
  }
  .terms-privacy-content-title-text-box {
    scroll-margin-top: 170px;
  }
}
@media screen and (max-width: 768px) {
  .term-privacy-header {
    padding: 45px 4.72%;
  }
  .terms-privacy-content-title-text-box {
    scroll-margin-top: 155px;
  }
}

@media screen and (max-width: 500px) {
  .term-privacy-header {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .terms-privacy-content-title-text-box {
    scroll-margin-top: 105px;
  }
}
@media screen and (max-width: 400px) {
  .term-privacy-header {
    /* padding: 20px 4.72%; */
    padding-bottom: 00px;
    padding-top: 20px;
  }
  .terms-privacy-content-title-text-box {
    scroll-margin-top: 105px;
  }
}
html,
body {
  overflow-y: scroll; /* keep scroll functionality */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px; /* hide scrollbar in Chrome/Safari/Edge */
  background: transparent;
}
