.header {
    width: 100%;
    height: 95px;
    /* background-color: green; */
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 3.8%;
    padding-right: 3.8%;
    height: fit-content;
    position: fixed;
    font-family: "Inter", sans-serif;
    top: 0;
    left: 0;
    z-index: 10;
    margin-bottom: 4px;
}

.logo {
    height: 36px;
    width: 37px;
    /* background-color: blue; */
}

.logo:hover {
    cursor: pointer;
}

.right-header {
    display: flex;
    flex-direction: row;
}

.careers,
.privacy,
.terms {
    padding: 10px 16px;
    color: #828282;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    transition: color 0.3s ease, opacity 0.3s ease;

    text-decoration: none;
}

/* Subtle underline animation */
.careers::after,
.privacy::after,
.terms::after {
    content: "";
    position: absolute;
    left: 16px;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #828282;
    transition: width 0.3s ease;
    opacity: 0.6;
}

.careers:hover,
.privacy:hover,
.terms:hover {
    color: #555;
    opacity: 0.9;
    cursor: pointer;
}

.careers:hover::after,
.privacy:hover::after,
.terms:hover::after {
    width: calc(100% - 32px);
}

.menu-btn {
    line-height: 20px;
    height: 24px;
    width: 24px;
    display: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}

@media screen and (max-height: 900px) and (max-width: 1600px) {
    .header {
        height: 50px;
    }
}

@media screen and (max-width: 1800px) {
    .header {
        padding-left: 3.28%;
        padding-right: 3.38%;
    }
}

@media screen and (max-width: 1440px) {
    .header {
        padding-left: 59px;
        padding-right: 96px;
    }
}

@media screen and (max-width: 1280px) {
    .header {
        padding-left: 59px;
        padding-right: 59px;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        padding-left: 26px;
        padding-right: 80px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        padding-top: 44px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .logo {
        height: 29px;
        width: 29px;
    }

    .terms,
    .privacy,
    .careers {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
}

@media screen and (max-width: 414px) {
    .header {
        padding-top: 30px;
        padding-left: 32px;
        padding-right: 32px;
    }
}